green-ysr/green_ysr/__pycache__
green-ysr/tests/__pycache__
green_ysr/dist
green-ysr/dist/*
green-ysr/tests/__pycache__/test_dimer.cpython-39-pytest-6.2.4.pyc
green-ysr/green_ysr/__pycache__/green_ysr.cpython-39.pyc
site
green_ysr/examples/examples.ipynb
green_ysr/green_ysr/__pycache__
green_ysr/.pytest_cache
green_ysr/out/*